@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-snap-y {
    scroll-snap-type: y mandatory;
  }
  .scroll-snap-start {
    scroll-snap-align: start;
  }
}

@layer base {
  @font-face {
    font-family: 'Pokemon Gb';
    /* font-weight: 500; */
    src: url(./fonts/PokemonGb.ttf) format('ttf');
  }
}
